.View {
    flex: 1;
    text-align: center;
    align-items: center;
    color: black;
    background-color: lightblue;
}
.Container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
